{{!--  --}}
{{!--  --}}
<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body bg-dark">
                    <a href="{{ url}}" target="_blank">
                        <h4 class="card-title"> {{ title }}</h4>
                    </a>
                    <p>{{description}}</p>
                    <p class="text-muted">{{timeago create_date}}</p>
                    <a href="/link/delete/{{id_link}}" class="btn btn-danger">Delete</a>
                    <a href="/link/edit/{{id_link}}" class="btn btn-warning">Update</a>
                </div>
            </div>
        </div>
        {{ else}}
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body bg-dark">
                    <h4 class="mb-4">There are not links save yet !!!! </h4>
                    <a class="" href="/link/add"> Create a new link</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>